body {
    background-color: #22a6b3;
}

#headersection {
    padding: 10px;
}
#headersection h1 {
    font-family: montserrat; 
    color: white;
}

input {
    padding: 10px;
    border-radius: 5px;
    width:13%;
}

#dropbox {
    padding: 5px;
    border-radius: 5px;
    width: 15% ;
    border: none;
}

#loginbutton {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;  
    background-color:#ffbe76 ; 
}